/* body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,143,0);
    background: linear-gradient(0deg, rgba(255,143,0,1) 8%,
    rgba(26,217,107,1) 50%, rgba(19,203,223,1) 95%);
}


canvas {
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 50px;
}

#reloadbtn {
    width: 150px;
    height: 0px;
    padding: auto;
    background-color:darkred;
    border: 10px;;
    border-radius: 50px;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    visibility:visible;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 10s;
} */

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reloadbtn {
    width: 150px;
    height: 0px;
    background: darkred;
    border: none;
    border-radius: 50px;
    color: #FFF;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}
canvas {
    box-shadow: rgba(0,0,0,0.5) 10px 10px 50px;
}

/*centering the countdown timer*/
#countdown {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
}